<h2>Total Results: <%= facade.total_count %></h2>

<h3>Nearest 15</h3>
<ul>
  <% facade.results.each do |result| %>
  <li>
    Name: <%= result.name %>
    Address: <%= result.address %>
    Fuel Types: <%= result.fuels %>
    Distance: <%= result.distance %> miles
    Access Times: <%= result.access_days_time %>
  </li>
  <% end %>
</ul>
