<h2>Total Results: <%= facade.total_count %></h2>

<h3>Nearest 15</h3>
<ul>
  <% facade.nearest_fifteen.each do |result| %>
  <li class="station">
    Name: <%= result.name %>
    Address: <%= result.address %>
    Fuel Types: <%= result.fuel_type %>
    Distance: <%= result.distance.round(2) %> miles
    Access Times: <%= result.hours %>
  </li>
  <% end %>
</ul>
